body {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#calculator {
    margin: 15%;
    width: 25%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px black;
    border-radius: 5px;
}

#display {
    width: 300px;
    height: 50px;
    border: solid 2px black;
    margin-bottom: 1.5rem;
}