body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 36px;
}

#calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    border: solid 5px black;
    border-radius: 15px;
    width: 20vw;
    height: 48vh;
    max-width: 400px;
    max-height: 800px;
    padding: 20px;

}

#display {
    font-size: 22px;;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 75px;
    border: solid 2px black;
    margin: 20px auto 50px;
}

#buttons-container {
    height: 325px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 270px;
}



button {
    font-size: 22px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-decoration: none;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding-bottom: 18px;
    z-index: 1000;
    font-size: 28px;
}

.github-link {
    margin-left: 5px;
    font-size: 28px;
}